<%= form_with(model: game, local: true) do |f| %>
  <p>
    <%= f.label :title, "ゲームタイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </p>
  <p><%= f.submit yield(:button_text), class: "btn btn-warning" %></p>
<% end %> 