<h1>ゲームタイトル編集画面</h1>
<p>編集よ</p>

<%= form_with(model: @game, local: true) do |f| %>
   <p>
      <%= f.label :title, "ゲームタイトル" %>
      <%= f.text_field :title %>
   </p>

   <p><%= f.submit "編集する" %></p>
<% end %>
