<% provide(:button_text, "登録する") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>ゲーム登録画面</h1>
      <p>プレイしたゲームのタイトルを登録してください</p>
      <%= render "form", game: @game %>
    </div>
  </div>
</div>