<h1>感想・レビューを登録する</h1>
<%= form_with(model: [@game, @micropost], local: true) do |f| %>
  <p>
    <%= f.label :content, "感想・レビュー" %>
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "登録する" %></p>
<% end %>